/*
 * App CUSTOM theme SCSS
 * ----------------------------------------------------------------------------
 * Place here custom styles.
 */

/*
 * Light Theme
 * -------------------------------------------
 */
:root {
  --ion-background-color: #f8f9fc;
}

ion-page,
ion-content {
  --background: var(--ion-background-color);
  background: var(--ion-background-color);
}

/*
 * Dark Theme
 * -------------------------------------------
 */
:root.dark {
  --ion-background-color: linear-gradient(180deg, #2A3F54 10%, #16222E 100%);;
}

:root.dark ion-page,
:root.dark ion-content {
  --background: var(--ion-background-color);
  background: var(--ion-background-color);
}
